*{  
    width: auto;
    height: auto;
}
header{
    background-color: rgb(43, 92, 197);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    font-weight: bolder;
    padding: 2%;   
}
footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: rgb(25, 64, 150);
}
nav, .navegador{
    background-color: rgba(29, 63, 138, 0.5); 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.asd{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: auto;
    width: auto;
}
.contenedor{
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin:30px auto; 
}
.imagen{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    width: 50vw;
    height: 50vh;
}
.imagen:hover{
    animation: cambiarTamaño 3s; 
}
.imagenservicio{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    scale: 50%;
}
.img1{
    width: 15%;
    height: 4%;
}
.img2{
    width: 15%;
    height: 6%;
}
.img3{
    width: 15%;
    height: 6%;
}

.recuadro,  [for="etq"], legend{
    background-color: rgba(223, 226, 235, 0.795);
}

.navegador,  [for="etq"], legend{
    border: #07024d 1px solid;
    border-radius: 5%;
}

.subtit::before{
    content: "• "
}
.iframe{
    width: 50vw;
    height: 50vh;
}


@keyframes cambiarTamaño{
    from {scale:100%}
    to {scale:110%;}
}