*{  
    width: auto;
    height: auto;
}

.asd{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.servicio{
    display: flex;
    justify-content: left;
    align-items:flex-start;
   background-color: white;
}

.contenedor{
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin:30px auto; 
}


header{
    background-color: rgb(43, 92, 197);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    font-weight: bolder;
    padding: 2%;   
}
footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(25, 64, 150);
}
nav, .navegador{
    background-color: rgba(29, 63, 138, 0.5); 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.imagen{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    width: 50vw;
    height: 50vh;
}
.imagen:hover{
    animation: cambiarTamaño 3s; 
}
.imagenlarge1{
    display:flex;
    justify-content: flex-end;
    margin-top: 0%;
    margin-left: 0%;
    padding: 0%;
    scale: 30%;
}
.imagenlarge2{
    display:flex;
    justify-content: flex-end;
    margin-top: 0%;
    margin-left: 0%;
    padding: 0%;
    scale: 50%;
}
.imagenlarge3{
    display:flex;
    justify-content: flex-end;
    margin-top: 0%;
    margin-left: 0%;
    padding: 0%;
    scale: 70%;
}
.recuadro,  [for="etq"], legend{
    background-color: rgba(223, 226, 235, 0.795);
}

.subtit::before{
    content: "• "
}
.navegador,  [for="etq"], legend{
    border: #000000 1px solid;
    border-radius: 5%;
}

[for="etq"]::after {}

@keyframes cambiarTamaño{
    from {scale:70%}
    to {scale:90%;}
}