*{  
    width: auto;
    height: auto;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    height: 50%;
    width: 50%;
    min-height:100vh;
    background-color: rgb(235, 227, 227);
}

header{
    background-color: rgb(43, 92, 197);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    font-weight: bolder;
    padding: 2%;   
}
footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(25, 64, 150);
}
nav, .navegador{
    background-color: rgba(29, 63, 138, 0.5); 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.imagen{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    scale: 70%;
}
.imagen:hover{
    animation: cambiarTamaño 3s; 
}
.imagenlarge{
    margin-top: 0%;
    margin-left: 0%;
    padding: 0%;
    scale: 30%;
}
.recuadro,  [for="etq"], legend{
    background-color: rgba(223, 226, 235, 0.795);
}
.subtit{
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items:flex-start;
}
.subtit::before{
    content: "• "
}
.navegador,  [for="etq"], legend{
    border: #000000 1px solid;
    border-radius: 5%;
}

[for="etq"]::after {}

@keyframes cambiarTamaño{
    from {scale:70%}
    to {scale:90%;}
}